<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/chat" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="message-wrap" *ngIf="chat$ | async as chat">
    <div *ngIf="chat.messages.length === 0" class="intro-message">
      <p>Start the conversation by saying hi!</p>
    </div>
    <div class="message" [class.left]="userId != msg.uid" [class.right]="userId == msg.uid" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
      <img class="user-img" [src]="msg.user?.photoURL" alt="" style="margin-top: 20px">
      <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{ msg.user?.displayName || msg.user?.email || msg.user.uid }}&nbsp;&nbsp;&nbsp;{{msg.createdAt | date: 'HH:mm'}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.content}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border [style.height]="'55px'">
  <div class="input-wrap">
    <textarea #chat_input [(ngModel)]="newMsg" placeholder="Start typing.." (keydown.enter)="submit()">
      </textarea>
    <ion-button (click)="submit()" style="cursor: pointer;" clear icon-only item-right>
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </ion-button>
  </div>