.note-start {
        position: absolute;
        top: 0;
        font-size: 10.5px;
        margin-top: -1px;
}

.note-end {
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 10.5px;
        margin-top: -1px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.chat-row {
        margin: 0;
        font-size: 15px;
}

.slide-item{
        margin-bottom: 5px;
}