<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Gibb
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="max-width: 500px;">
    <ion-card-header color="primary">
      <ion-card-title>Welcome to... GIBB!</ion-card-title>
    </ion-card-header>
    <img src="assets/icons/icon-512x512.png"/>
    <ion-card-content>
      Chat with friends, schedule gaming-time and don't let anybody stop you! <br> <br>
      Gibb gives you the ability to completely schedule your gaming time to make sure that you and your friends always play together.
    </ion-card-content>
  </ion-card>
</ion-content>
