<ion-content padding class="images">
    <div padding>
      <ion-row>
        <ion-col>
          <img class="logo" src="../../../assets/icon/gibb-icon.png" />
        </ion-col>
      </ion-row>
      <ion-row style="max-width: 700px; margin: 0 auto;">
        <ion-col>
          <ion-list inset class="no-border no-margin" style="border: 1px solid #3880ff">
            <ion-item class="input-login">
              <ion-label position="fixed">Username</ion-label>
              <ion-input clear-input type="email" [(ngModel)]="userEmail" placeholder="example@gibb.nu"></ion-input>
            </ion-item>
            <ion-item class="input-login">
              <ion-label position="fixed">Password</ion-label>
              <ion-input placeholder="*********" inputmode="password" [(ngModel)]="userPassword" type="password"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row style="max-width: 700px; margin: 0 auto;"> 
        <ion-col>
          <ion-button expand="block" (click)="signInWithCredentials()">Sign in</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showGoogleSignin">
        <ion-col>
          <img src="../../../assets/google/btn_google_signin_light_normal_web.png" style="cursor: pointer"
           (click)="signInWithGoogle()">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <span class="link" (click)="openRegisterModal()">Or create a new account.</span>
          </div>
        </ion-col>
      </ion-row>
    </div>
</ion-content>