.logo {
          width: 50%;
          height: auto;
          max-width: 18em;
          margin: 0 auto;
          padding-bottom: 20px;
        }
        .no-border {
          border-bottom: 0 !important;
          box-shadow: none !important;
          padding-bottom: 0;
        }
        ion-row {
          align-items: center;
          text-align: center;
        }
        @media only screen and (min-width: 768px) {
          ion-col.col {
            margin: 0 auto;
            max-width: 40%;
          }
        }
        .link {
          color: white;
          cursor: pointer;
        }
        .input-login {
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;   
          margin-left: 10px;
        }
        .no-margin {
          margin: 0;
          padding-top: 0;
        }
        
        ion-content {
            --background: url('../../../assets/backgrounds/psbg.png')  no-repeat 50% 10%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-color: transparent;
        } 